@model IEnumerable<ST10444488_POE.Models.Customer>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Customer";
}

<h1>Customer List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Customer</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.First().LastName)</th>
            <th>@Html.DisplayNameFor(model => model.First().Email)</th>
            <th>@Html.DisplayNameFor(model => model.First().Cellnumber)</th>
            <th>@Html.DisplayNameFor(model => model.First().Address)</th>
            <th>Document</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Cellnumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Document))
                    {
                        <a href="@Url.Content("~/documentshare/" + item.Document)" target="_blank">View Document</a>
                    }
                    else
                    {
                        <span>No document</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-partitionKey="@item.PartitionKey" asp-route-rowKey="@item.RowKey">Edit</a> |
                    <a asp-action="Details" asp-route-partitionKey="@item.PartitionKey" asp-route-rowKey="@item.RowKey">Details</a> |
                    <a asp-action="Delete" asp-route-partitionKey="@item.PartitionKey" asp-route-rowKey="@item.RowKey">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

